.blogCard {
	position: relative;
	overflow: hidden;
	border-radius: 2%;
	max-height: 380px;
	max-width: 330px;
	text-decoration: none;
	cursor: pointer;
	margin: 1%;
}

.blog-time {
	color: var(--fontColor);
	text-align: right;
	margin: 0px;
	text-transform: capitalize;
}
.blogSm-title {
	color: var(--fontColor);
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.1vh;
	margin: 0.5%;
}

.blogSm-des {
	color: var(--fontColor);
	text-align: left;
	margin: 0.5%;
}
.blogtitlebottom {
	margin-top: 76%;
}
